<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="text-center"><%= @developer.name.titleize %></h1>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <%= gravatar_for @developer, size: 160 %><br />
            <h5 class="text-center">
              <%= link_to icon('globe'), @developer.website, class: "fa-2x fa-icon", target: '_blank' %>&nbsp;&nbsp;&nbsp;&nbsp;
              <%= link_to icon('github'), @developer.github, class: "fa-2x fa-icon", target: '_blank' %>
            </h5>
            <% if logged_in? && (@developer == current_user || current_user.admin?) %>
              <%= link_to "Edit", edit_developer_path(@developer), class: "btn btn-primary edit-btn" %>
            <% end %>
            <% if logged_in? && current_user.admin? && !@developer.admin? %>
              <%= link_to "Delete", developer_path(@developer), method: :delete, 
                                data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
            <% end %>
        </h5>
        <br />
        <br />
      </div>
    </div>
  </div>
  
  <% @projects.each do |project| %>
      <div class="col-md-8 col-md-offset-2 well">
        <div class="row">
          <div class="col-md-7">
              <h2>About:</h2>
                   <p>lorem ipsum</p>
              <h2>
                <%= link_to project.name.titleize, project %>
                </h2>
              <h4><strong><%= project.tagline.titleize %></strong></h4>
            </div>
            <div class="col-md-5  hidden-xs">
              <div class="pull-right icon-index">
                <%= link_to icon('globe'), project.link, class: "fa-2x fa-icon", target: '_blank' %>&nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to icon('code'), project.github, class: "fa-2x fa-icon", target: '_blank' %>
              </div>
            </div>
        </div>
        <span class="quiet">
          <small>Posted: <%= time_ago_in_words(project.created_at) %> ago</small> ||
          <small>Updated: <%= time_ago_in_words(project.updated_at) %> ago</small>
        </span>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center">
  <strong><%= will_paginate @projects %></strong>
</div>
