<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
    <h1 class="text-center"><%= @developer.name.titleize %></h1>
    <hr />
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <section class="developer-info text-center">
            <%= gravatar_for @developer, size: 160 %><br />
            <h5 class="text-center">
              <%= link_to icon('globe'), @developer.website, class: "fa-2x fa-icon", target: '_blank' %>&nbsp;&nbsp;&nbsp;&nbsp;
              <%= link_to icon('github'), @developer.github, class: "fa-2x fa-icon", target: '_blank' %>
            </h5>
          </section>
        </div>
        
        <% @projects.each do |project| %>
        <div class="project-info col-lg-9 col-md-9 col-sm-9 well" id="index-well">
          <div class="row">
            <div class="col-md-7">
              <h2>About:</h2>
                   <p>lorem ipsum</p>
              <h2>
                <%= link_to project.name.titleize, project %>
                </h2>
              <h4><strong><%= project.tagline.titleize %></strong></h4>
            </div>
            <div class="col-md-5  hidden-xs">
              <div class="pull-right icon-index">
                <%= link_to icon('globe'), project.link, class: "fa-2x fa-icon", target: '_blank' %>&nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to icon('code'), project.github, class: "fa-2x fa-icon", target: '_blank' %>
              </div>
            </div>
          </div>
          <p>
            <span class="quiet">
              <small>Posted: <%= time_ago_in_words(project.created_at) %> ago</small> ||
              <small>Updated: <%= time_ago_in_words(project.updated_at) %> ago</small>
            </span>
        </div>
      </div>
      <hr />
    <% end %>
  </div>
</div>
