<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
    <h1 class="text-center"><%= @type.name.pluralize %></h1>
    <hr />
    <% @type.projects.each do |project| %>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <section class="chef-info text-center">
            <%= gravatar_for project.developer, size: 160 %>
            <h4><strong>Developer: <%= project.developer.name %></strong></h4>
          </section>
        </div>
        
        <div class="recipe-info col-lg-9 col-md-9 col-sm-9 well">
          <div class="row">
            <div class="col-md-9">
              <h2><%= link_to project.name.titleize, project %></h2>
              <h4><strong><%= project.tagline %></strong></h4>
              <p><strong>Type</strong>: <%= render project.types %></p>
              <p><strong>Tech</strong>: <%= render project.technologies %></p>
            </div>
          </div>
          <br />
          <p>
            <span class="quiet">
              <small>Created: <%= time_ago_in_words(project.created_at) %> ago</small> ||
              <small>Updated: <%= time_ago_in_words(project.updated_at) %> ago</small>
            </span>
          </p>
        </div>
      </div>
      <hr />
    <% end %>
    
  </div>
</div>

<div class="text-center">
  <strong><%= will_paginate @projects %></strong>
</div>
