<h1 class= "text-center">Projects</h1>

<% @projects.each do |project| %>
  <div class="row">
    <div class="col-md-2">
      <section class="center"></section>
    </div>
    <div class="col-md-8 well">
      <h3><%= link_to project.name.titleize, project_path(project) %></h3>
      <h3><%= project.tagline.titleize %></h3>
      <p>
        <span class="quiet"><small>Posted <%= time_ago_in_words(project.created_at) %> ago</small></span>&nbsp;|&nbsp;
        <span class="quiet"><small>Updated <%= time_ago_in_words(project.updated_at) %> ago</small></span>
      </p>
      <%= link_to icon('globe'), project.link, class: "fa-2x fa-icon", target: '_blank' %>&nbsp;&nbsp;
      <%= link_to icon('code'), project.github, class: "fa-2x fa-icon", target: '_blank' %>
    </div>
  </div>
<% end %>