<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
    <h1 class="text-center">Projects</h1>
    <hr />
    <% @projects.each do |project| %>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
          <section class="developer-info text-center">
            <%= gravatar_for project.developer, size: 140 %>
            <h4><strong>Developer: <%= project.developer.name %></strong></h4>
          </section>
        </div>
        
        <div class="project-info col-lg-10 col-md-10 col-sm-10 well index-well">
          <div class="row">
            <div class="col-md-7">
              <h2><%= link_to project.name.titleize, project %>&nbsp; || &nbsp;
              <%= link_to icon('globe'), project.link, class: "fa fa-icon", target: '_blank' %>&nbsp;
              <%= link_to icon('code'), project.github, class: "fa fa-icon", target: '_blank' %></h2>
                
              <h4><strong><%= project.tagline.titleize %></strong></h4>
              <% if project.types.any? %>
                <p><strong>Type</strong>: <%= render project.types %></p>
              <% end %><br />
              <% if project.technologies.any? %>
                <p><strong>Tech</strong>: <%= render project.technologies %></p>
              <% end %>
            </div>
            <div class="col-md-5 hidden-xs">
              <div class="pull-right">
                <%= image_tag(project.picture.url, 
                              size: "350x200",   
                              class: "index-img gravatar") if project.picture? %>
              </div>
            </div>
          </div>
          <br />
          <p>
            <%= link_to heart_project_path(project, heart: true), method: :post, class: "btn btn-default btn-sm" do %>
              <i class="glyphicon glyphicon-heart"></i> &nbsp;
              <strong><%= project.hearts_total %></strong>
            <% end %>
            <%= link_to heart_project_path(project, heart: false), method: :post, class: "btn btn-default btn-sm" do %>
              <i class="glyphicon glyphicon-heart-empty"></i> &nbsp;
              <strong><%= project.unhearts_total %></strong>
            <% end %>
          </p>
          <p>
            <span class="quiet">
              <small>Posted: <%= time_ago_in_words(project.created_at) %> ago</small> ||
              <small>Updated: <%= time_ago_in_words(project.updated_at) %> ago</small> ||
              <small><%= pluralize(project.comments.count, 'Comment') %></small>
            </span>
          </p>
        </div>
      </div>
      <hr />
    <% end %>
  </div>
</div>

<div class="text-center">
  <strong><%= will_paginate %></strong>
</div>
