<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-9 col-md-offset-3">
      <h1 class="text-center"><%= @project.name.titleize %></h1>
    </div>
    
    <div class="row">
      <div class="col-md-3 text-center">
        <%= gravatar_for @project.developer, size: 150 %>
        <h4><%= link_to @project.developer.name, developer_path(@project.developer) %></h4>
        <h5>
          <% if logged_in? && (@project.developer == current_user || current_user.admin?) %>
            <%= link_to "Edit",   edit_project_path(@project), class: "btn btn-primary edit-btn" %>
            <%= link_to "Delete", project_path(@project), method: :delete, 
                                data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          <% end %>
        </h5>
        <h5><%= link_to "Back", :back, class: "btn btn-success" %></h5>
      </div>
      
      <div class="col-md-9 well" id="show-well">
        <h3 class="text-center"><%= @project.tagline.titleize %></h3><br />
        <%= image_tag(@project.picture.url, size: "650x350", 
              class: "show-img img-responsive center-block gravatar") if @project.picture? %>
        <br />
        <% if @project.types.any? %>
          <p><strong>Type</strong>: <%= render @project.types %></p>
        <% end %><br />
        <% if @project.technologies.any? %>
          <p><strong>Tech</strong>: <%= render @project.technologies %></p>
        <% end %>
        <br />
        <h4><%= simple_format(@project.description) %></h4>
        <div class="pull-right icon-show">
          <%= link_to icon('globe'), @project.link, class: "fa-2x fa-icon", target: '_blank' %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to icon('code'), @project.github, class: "fa-2x fa-icon", target: '_blank' %>
        </div>
        <br />
        <p>
          <span class="quiet">
            <small>Posted: <%= time_ago_in_words(@project.created_at) %> ago</small> ||
            <small>Updated: <%= time_ago_in_words(@project.updated_at) %> ago</small>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>

<% if logged_in? %>
  <%= form_for([@project, @comment], remote: true, html: { class: "form-horizontal", role: "form" }) do |f| %>
   
    <div class="row">
      <div class="col-md-7 col-md-offset-4">
        <h3 class="text-center">Comments</h3>
        <hr />
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control", size: "50x5" %>
        </div>
        
        <div class="form-group"> 
          <%= f.submit 'Submit Comment', class: "btn btn-primary" %>&nbsp;
        </div>
      </div>
    </div>
    <hr />
  <% end %>
<% end %>

<% if @project.comments != 0 %>
  <div class="row comments">
    <div class="col-md-7 col-md-offset-4">
      <h3 class="text-center">Comments</h3><br />
      <div id="messages">
        <%= render partial: 'comments/comments', object: @comments %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>No Comments Yet</h3>
    </div>
  </div>
<% end %>



