<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">Spectral</a>-->
        <%= link_to root_path, class: "navbar-brand", id: "logo" do %>
			    <%= image_tag('gitview-logo.png') %> Gitview
		    <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Projects', projects_path %></li>
        <li><%= link_to 'Devs', developers_path %></li>

        <li class="dropdown">
          <%= link_to '#', class: "dropdown-toggle", 
                      "data-toggle" => "dropdown" do %>
            Tech <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <% Technology.all.each do |technology| %>
              <li><%= link_to technology.name, technology_path(technology) %></li>
            <% end %>
            <% if logged_in? && current_user.admin? %>
              <li class="divider"></li>
              <li><%= link_to 'Add Technology', new_technology_path %></li>
            <% end %>
          </ul>
        </li>
        
        <li class="dropdown">
          <%= link_to '#', class: "dropdown-toggle", 
                      "data-toggle" => "dropdown" do %>
            Type <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <% Type.all.each do |type| %>
              <li><%= link_to type.name, type_path(type) %></li>
            <% end %>
            <% if logged_in? && current_user.admin? %>
              <li class="divider"></li>
              <li><%= link_to 'Add Type', new_type_path %></li>
            <% end %>
          </ul>
        </li>
        <% if logged_in? %>
          <li><%= link_to 'GitChat', gitchat_path %></li>
          <li><%= link_to 'New Project', new_project_path %></li>
        <% end %>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'About', about_path %></li>
        <% if controller_name == "sessions" && action_name == "new" %>
          <li><%= link_to 'Sign Up', register_path %></li>
        <% else %>
          <% if logged_in? %>
            <li class="dropdown">
              <%= link_to '#', class: "dropdown-toggle user", 
                          "data-toggle" => "dropdown" do %>
                <%= current_user.name %>&nbsp;
                <% if current_user.admin? %>
                  <i class="fa fa-certificate" aria-hidden="true"></i>
                <% end %>
                <b class="caret"></b>
              <% end %>
              <ul class="dropdown-menu">
                <li><%= link_to 'Profile', developer_path(current_user) %></li>
                <li><%= link_to 'Edit Profile', edit_developer_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to 'Log out', logout_path %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to 'Log in', login_path %></li>
          <% end %>
        </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>